<br>
<br>
<div class="mx-5 mt-5 mb-4">
    <div class="d-flex justify-content-between">
        <h5>Produtos <i class="bi bi-tag"></i></h5>
        <button c-id="new-product" class="btn-add-product">Adicionar produto</button>
    </div>
    
    <div class="my-table mt-3">
        <div class="row mx-1 p-1">
            <div class="col-lg-3">
                <label class="mt-1"><b>Produto</b></label>
            </div>
            <div class="col-lg-2">
                <label class="mt-1"><b>Coleção</b></label>
            </div>
            <div class="col-lg-2">
                <label class="mt-1"><b>Preço</b></label>
            </div>
            <div class="col-lg-2">
                <label class="mt-1"><b>Status</b></label>
            </div>
            <div class="col-lg-3">
                <label class="mt-1"><b>Link</b></label>
            </div>
        </div>

        <div c-id="model-product" id="" class="col-lg-12 none">
            <div  class="row model-table p-2">
                <div class="col-lg-3">
                    <img class="ms-2" src=""> 
                    <a class="ms-2"></a>
                </div>
                <div class="col-lg-2">
                    <label c-id="collection-product" class="ms-2"></label>
                </div>
                <div class="col-lg-2">
                    <label c-id="price" class="ms-2"></label>
                </div>
                <div class="col-lg-2">
                    <div class="form-check form-switch">
                        <input c-id="status" class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked">
                    </div>
                </div>
                <div class="col-lg-3">
                    <button c-id="btn-link" class="btn-add-product">Copiar link</button>
                </div>
            </div>
        </div>

        <div c-id="all-products" class="row">
            {% for produto in products_ %}

                <div c-id="model-product" id="{{produto._id}}" class="col-lg-12">
                    <div  class="row model-table p-2">
                        <div class="col-lg-3">
                            <img class="ms-2" src="{{produto.images[0].base64 |default('https://gravitec.net/pt/empty.jpg')}}"> 
                            <a class="ms-2">{{produto.name}}</a>
                        </div>
                        <div class="col-lg-2">
                            <label c-id="collection-product" class="ms-2">{{produto.collection_.name}}</label>
                        </div>
                        <div class="col-lg-2">
                            <label c-id="price" class="ms-2">{{produto.price}}</label>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-check form-switch">
                                <input c-id="status" class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" 
                                {% if produto.status == true %}
                                    checked
                                {% endif %}
                                
                                >
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button c-id="btn-link" class="btn-add-product">Copiar link</button>
                        </div>
                    </div>
                </div>

                            
            {% endfor %}
        </div>
    </div>
    
</div>

<div class="d-flex justify-content-center z-index-spinner">
    <div c-id="loading-center" class="spinner-border style-spinner none" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div c-id="modal-product" class="modal fade modal-product-style" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"  aria-modal="true" role="dialog">
  <div class="modal-dialog modal-fullscreen" >
    <div c-id="form" class="modal-content bk-modal" >
      <div class="modal-header rm-border" >
        <div class="container">
            <h1 class="modal-title fs-5 ms-3" >
                <b c-id="name-product"></b>
                
            </h1>
        </div>
        <button c-id="close-modal" class="btn-modal">Fechar</button>
      </div>
      <div class="modal-body" >
        <div class="container">
            <div class="row form-default">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Título</label>
                        <input c-id="name" type="text" class="form-control"  placeholder="Camiseta de manga curta">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Comparação de preços</label>
                        <input c-id="last_price" type="number" class="form-control"  placeholder="€ 0,00">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Preço</label>
                        <input c-id="price" type="number" class="form-control"  placeholder="€ 0,00">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Coleção</label>
                        <select c-id="collection" class="form-select"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Loja</label>
                        <select c-id="store-config" class="form-select"></select>
                    </div>
                </div>

               

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="form-label">Adicionar Shopify</label>
                            <div class="d-flex justify-content-start">
                                <select class="form-select me-1" c-id="stores"></select>
                                <button c-id="add-store" class="btn btn-info"><i class="bi bi-plus ms-1"></i></button>
                            </div>
                        
                        </div>

                        <div c-id="model-store" class="row none mt-3 card mb-3 mx-2">
                            <div class="col-lg-12 mt-3">
                                <i c-id="remove-store" class="bi bi-x-circle-fill float-end"></i>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <label>Url:<b c-id="url"></b></label>
                                <input placeholder="ID do produto nessa shopify" c-id="id_shopify_store" class="form-control">
                                
                            </div>
                        </div>
                        
                        <div c-id="all-stores" class="col-lg-12">
                            
                        </div>
                    </div>

                   
                </div>

                 <div class="col-lg-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label">Descrição</label>
                        <textarea id="description"  c-id="description" ></textarea>
                    
                    </div>

                    <div class="mb-3 mt-3 card p-2">

                        <label class="form-label">Mídia</label>
                        <input multiple="multiple" c-id="images" type="file" class="form-control">

                        <div class="model-img none mt-2 col-lg-3" c-id="model-img">
                            <img>
                            <button c-id="remove-img">Remover</button>
                                
                            
                            
                        </div>            
                        
                        <div c-id="image-list" class="row mt-2"></div> 
                    
                    </div>

                     <div class="row">

                        <div class="col-lg-12">
                            <button c-id="new-bundle" class="btn-modal mt-5 float-end">Adicionar Bundle</button>
                        </div>
                        
                        <div c-id="model-bundle" class="model-bundle row card mx-2 none mt-2">
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="bundle" c-id="default_bundle">
                                    <label class="form-check-label" for="bundle">
                                        Bundle padrão
                                    </label>
                                </div>
                                <i c-id="remove-bundle" class="bi bi-x-circle-fill float-end mt-2"></i>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="mb-3 mt-3">
                                    <label class="form-label">Titulo</label>
                                    <input class="form-control" c-id="title_bundle">
                                </div>

                                <div class="mb-3 mt-3">
                                    <label class="form-label">Comparação de preços</label>
                                    <input class="form-control" c-id="last_price_bundle" type="number">
                                </div>

                                <div class="mb-3 mt-3">
                                    <label class="form-label">Preço</label>
                                    <input class="form-control" c-id="price_bundle" type="number">
                                </div>

                                <div class="mb-3 mt-3">
                                    <label class="form-label">Shopify</label>
                                    <select class="form-select me-1" c-id="stores"></select>
                                </div>
                                
                                
                            </div>
                            <div class="col-lg-12 mb-4">
                                <label class="form-label">Id shopify</label>
                                <input placeholder="ID do produto nessa shopify" c-id="id_shopify_bundle" class="form-control">
                            </div>
                        </div>
                        
                        
                        <div class="col-lg-12" c-id="all-bundles"></div>

                    </div>
                    
                </div>

            </div>
            <button c-id="save-product" class="btn-modal mt-4 float-end">Salvar</button>
            <div class="clearfix">
                <div c-id="loading-btn" class="spinner-border float-end mt-4 none" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <br>
            <br>
            <br>

        </div>

      </div>
    
    </div>
  </div>
</div>



<div c-id="modal-link" class="modal fade modal-product-style"  tabindex="-1"   aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg">
    <div c-id="form" class="modal-content bk-modal">
      <div class="modal-header rm-border">
         <button c-id="close-modal-link" class="btn-modal">Fechar</button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div c-id="model-link" class="col-lg-12 none model-link mt-2">
                <div class="d-flex justify-content-start">
                    <a target="_blank"></a>
                    <button c-id="copy" class="btn-modal ms-2">Copiar</button>
                </div>
            </div>  

            <div c-id="all-links" class="row form-default">
                
            </div>

            <br>
            <br>
            <br>

        </div>
      </div>
      
    </div>
  </div>
</div>



