<nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color:#292828;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="/img/admin/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{home}}" aria-current="page"  href="/admin/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{store}}" href="/admin/stores">Lojas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{products}}" href="/admin/products">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{collections}}" href="/admin/collections">Coleções</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{shopify}}" href="/admin/shopify" >Shopify</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{cloacker}}" href="/admin/cloacker" >Cloacker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{domain}}" href="/admin/domain" >Dominios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
